<div class="load" *ngIf="charactersItem  == undefined || null">
  <mat-spinner></mat-spinner>
</div>
<div style="display: grid; grid-template-columns: repeat(2, 1fr); "*ngIf="charactersItem  != undefined || null">
  <div style="display: grid; grid-column: 1/3; justify-content: center;">
    <h1>{{ charactersItem.name }}</h1>
  </div>
  <div style="grid-column: 1/2; display: grid; justify-content: center;">
    <img src="{{ charactersItem.image }}" alt="" />
  </div>
  <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
    <div style="display: grid;">
      <span>Specie</span>
      <span>Gender</span>
      <span>Origin</span>
      <span>Number Episode </span>
      <span>Status</span>
      <span>Location</span>
    </div>
    <div style="display: grid;">
      <span>{{ charactersItem.species }}</span>
      <span>{{ charactersItem.gender }}</span>
      <span> {{ charactersItem.origin.name }}</span>
      <span> {{ charactersItem.episode.length }}</span>
      <span>{{ charactersItem.status }}</span>
      <span>{{ charactersItem.location.name }}</span>
    </div>
  </div>
</div>
<div style="display: grid; justify-content: center; padding: 20px;">
  <button
    style="
      border-style: none;
      background-color: rgba(0, 0, 0, 0.5);
      width: 30vw;
      height: 10vh;
      font-size: 2rem;
      color: rgba(255, 255, 255, 10);
      border-radius: 5px;
      cursor: pointer;
    "
    (click)="goBack()"
  >
    Back
  </button>
</div>
