<div class="load" *ngIf="charactersList == undefined || null">
  <mat-spinner></mat-spinner>
</div>
<div class="characters" *ngIf="charactersList != undefined || null">
  <mat-card class="example-card" *ngFor="let characters of charactersList">
    <mat-card-header>
      <mat-card-title
        ><a
          routerLink="/features/characters/{{ characters.id }}"
          routerLinkActive="router-link-active"
          >{{ characters.name }}</a
        >
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ characters.image }}"
      alt="{{ characters.name }}"
    />
  </mat-card>
</div>
